.warning:after
{
	color: #f00;
	content: "Warning: ";
}
.note:after
{
	color: #80f;
	content: "Note: ";
}
.reminder:after
{
	color: #080;
	content: "Reminder: ";
}
.fyi:after
{
	color: #00f;
	content: "FYI: ";
}
.codeblock
{
	display: block;
	color: #fff;
	background-color: #444;
}
.ui-progressbar-value /* This is a jQuery class. */
{
	text-align: right;
	line-height: 200%;
}
#video,
.message
{
	display: none;
}
#review
{
	border-collapse: collapse;
}
#review tr
{
	border-width: 1px 0;
	border-style: solid;
}
#review tr:first-child
{
	border-top: none;
	border-bottom: none;
}
#review tr:nth-child(2)
{
	border-top: none;
}
#review tr:last-child
{
	border-bottom: none;
}
body
{
	background-color: #eee;
}