.warning:after
{
	color: #ff0000;
	content: "Warning: ";
}
.note:after
{
	color: #8800ff;
	content: "Note: ";
}
.reminder:after
{
	color: #008800;
	content: "Reminder: ";
}
.fyi:after
{
	color: #0000ff;
	content: "FYI: ";
}
.codeblock
{
	display: block;
	color: #ffffff;
	background-color: #444444;
}